
mlruns/

*.py[cod]
*$py.class


# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# Jupyter Notebook
.ipynb_checkpoints
.python-version
*.code-workspace
.vscode/


# IPython
profile_default/
ipython_config.py

__pypackages__/
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

